.shopping-cart{
    width: 25%;
    min-height: 100px;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #ddd;
    z-index: 1;
    background-color: #fff;

}
.shopping-cart::after{
    bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-bottom-color: #fff;
	border-width: 8px;
}
.shopping-cart-hidden{
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    right: 100000px;
    top:-1000px;
}
.shopping-cart-header{
    text-align: right;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(236, 236, 236);
}
.shopping-cart-header .lighter-text{
    margin-right: 10px;
    font-size: 20px;
    color: rgba(81, 195, 240, 0.918);
}
.shopping-cart-header .main-color-text{
    margin-right: 10px;
    font-size: 16px;
    color: rgba(8, 48, 65, 0.918);
}
.shopping-cart ul.shopping-cart-items{
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 70px;
}
.shopping-cart ul.shopping-cart-items li{
    width: 100%;
    padding: 0 10px;
    display: flex;
    margin: 10px 0;
}
.shopping-cart ul.shopping-cart-items li img{
    width: 80px;
}
.shopping-cart-items li .item-content{
    width: 100%;
    padding-left: 20px;
}
.shopping-cart-items li .item-content .item-name{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin-bottom: 4px;
}
.shopping-cart-items li .item-content .item-price,.shopping-cart-items li .item-content .item-quantity{
    font-size: 14px;
    padding: 0;
    color: #444;
    margin-right: 40px;
}

.btn.btn-check-out{
    width: 80%;
    position: absolute;
    bottom: 5%;
    margin: 0 30px;
    background-color: rgb(33, 107, 141);
    color: #fff;
    font-size: 18px;
}